extends layout

block content
  br
  br
  br
  br
  h2 About Us
  br
  p Book Store is a online marketplace to excercise whole shopping cycle - browse product, checkout, payment, etc.
  a.btn.btn-primary(href='/register') Register User Account
