extends layout

block content
  br
  br
  br
  br
  h2= title
  
  ul
  each author in author_list
    li 
      a(href=author.url) #{author.name} 
      | (#{author.lifespan})

  else
    li There are no authors.
