extends layout

block content
  br
  br
  br
  br
  h2 #{title}: #{bookinstance.imprint}
  //- p= bookinstance.lifespan
  
  p Do you really want to delete this BookInstance?
    
  form(method='POST' action='')
    div.form-group
      input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

    button.btn.btn-primary(type='submit') Delete
